.section {
  background-color: #eee;
}

.card {
  border-radius: 50px;
}

.error-message {
  color: red;
  font-size: 15px;
}

.label{
  display: inline-block;
  width: 150px;
  text-align: right;
}

div {
  margin-bottom: 10px;
 
}

.fa :hover{
  color: black
}
